@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.seccion {
  padding-block: v.$espacio-9;
  position: relative;

  @include m.hasta(v.$quiebre-md) {
    padding-block: v.$espacio-7;
  }

  &--oscura {
    background-color: v.$secundario;
    color: v.$blanco;
  }

  &--blanca {
    background-color: v.$blanco;
    color: v.$color-texto-primario;
  }

  &__contenedor {
    @include m.contenedor();
    position: relative;
    z-index: v.$z-contenido;

    &--angosto {
      @include m.contenedor(v.$ancho-contenedor-angosto);
    }
  }
  &__contenedor--flex {
    @include m.contenedor();
    position: relative;
    z-index: v.$z-contenido;
    display: flex;
    align-items: center;
    gap: v.$espacio-6;

    &--angosto {
      @include m.contenedor(v.$ancho-contenedor-angosto);
    }
  }
}
